
configuration {
    show-icons: true;
}

* {
    font: "JetBrainsMono Nerd Font 10";
}

window {
    width: 900px;
}

listview {
    columns: 4;
    spacing: 10px;
    cycle: false;
    dynamic: true;
}

element {
    orientation: vertical;
    padding: 10px;
}

element-icon {
    size: 128px;   /* ВОТ ЭТО ДЕЛАЕТ ГАЛЕРЕЮ */
    horizontal-align: 0.5;
}

element-text {
    horizontal-align: 0.5;
}
